<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title >Title</title>
    <link rel="stylesheet" th:href="@{/css/style2.css}" />
</head>
<body>

<section class="banner d-flex justify-content-center align-items-center">

<div class="test ">
    <div >
        <h1 class="text-center">Your contacts</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="c : ${contacts}">
                    <th scope="row" th:text="${'SCM2021-'+ c.cid}">1</th>
                        <td th:text="${c.name}">Mark</td>
                        <td th:text="${c.email}">Otto</td>
                        <td th:text="${c.phone}">@mdo</td>

                    <td>
                        <button class="btn btn-danger btn-sm">Delete</button>
                        <button class="btn btn-primary btn-sm">Update</button>
                    </td>
                </tr>

            </tbody>
        </table>

<!--        pagination-->
        <nav aria-label="...">
            <ul class="pagination">
                <li th:if="${currentPage!=0}"
                    class="page-item disabled">
                    <a th:href="@{'/user/show-contacts/' + ${#strings.toString(currentPage-1)} }" class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li th:classappend="${currentPage==i-1?'active':''}"
                    th:each="i : ${#numbers.sequence(1,totalPages)}" class="page-item">
                    <a th:href="@{'/user/show-contacts/' + ${#strings.toString(i-1)} }" class="page-link" href="#">
                    <span th:text="${i}"></span>
                </a></li>

                <li th:if="${currentPage+1!=totalPages}"
                    class="page-item">
                    <a th:href="@{'/user/show-contacts/' + ${#strings.toString(currentPage+1)}}" class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

</section>

</body>
</html>
